<template>
  <div class>
    <h2>Employee List</h2>
    <h2
      class="btn btn-primary"
      @click="createE"
      data-toggle="modal"
      data-target="#createModal"
    >Add New</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name/Designation</th>
          <th>Photo</th>
          <th>Mobile Number</th>
          <th>Email</th>
          <th>Address</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(employee) in employeesData"
          v-bind:key="employee.id"
          v-bind:title="employee.name"
        >
          <td>
            <tr>
              <td>{{employee.name}}</td>
            </tr>
            <tr>
              <td>{{designationData[employee.designation]}}</td>
            </tr>
          </td>
          <td><img :src="url+employee.image" alt="image" height="60" width="55"/></td>
          <td>{{employee.contact_no}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.address}}</td>
          <td>
            <span @click="editE(employee)" data-toggle="modal" data-target="#editModal">
              <i class="fa fa-edit"></i>
            </span> &nbsp;|&nbsp;
            <span @click="deleteE(employee.id)">
              <i class="fa fa-trash"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <!--Create Modal -->
    <div class="modal fade" id="createModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Employee</h4>
          </div>
          <div class="modal-body">
            <form v-on:submit.prevent="storeE" enctype="multipart/form-data">
              <div class="form-group">
                <label for="name">Name:</label>
                <input
                  type="text"
                  v-bind:class="[formControl]"
                  v-bind:style="nameStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="designation">Designation:</label>
                <select
                  v-bind:class="[formControl]"
                  v-bind:style="designationStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.designation"
                  required
                >
                  <option v-for="(name, index) in designationData" :value="index">{{name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="email">Email address:</label>
                <input
                  type="email"
                  v-bind:class="[formControl]"
                  v-bind:style="emailStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="contact_no">Contact Number:</label>
                <input
                  type="number"
                  v-bind:class="[formControl]"
                  v-bind:style="contactStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.contact_no"
                  required
                />
              </div>
              <div class="form-group">
                <label for="address">Address:</label>
                <input
                  type="text"
                  v-bind:class="[formControl]"
                  v-bind:style="addressStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.address"
                  required
                />
              </div>
              <div class="form-group">
                <label for="image">Photo:</label>
                <input
                  type="file"
                  accept="image/jpeg"
                  v-bind:class="[formControl]"
                  id="image"
                  ref="fileInput"
                  @change="onFileChange"
                />
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                @click="storeE"
              >Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end Model -->

    <!--Edit Modal -->
    <div class="modal fade" id="editModal" role="dialogx">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Employee Information</h4>
          </div>
          <div class="modal-body">
            <form v-on:submit.prevent="updateE">
              <div class="form-group">
                <label for="name">Name:</label>
                <input
                  type="text"
                  v-bind:class="[formControl]"
                  v-bind:style="nameStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.name"
                />
              </div>
              <div class="form-group">
                <label for="designation">Designation:</label>
                <select
                  v-bind:class="[formControl]"
                  v-bind:style="designationStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.designation"
                >
                  <option
                    v-for="(name, index) in designationData"
                    :value="index"
                    :selected="index == eData.designation"
                  >{{name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="email">Email address:</label>
                <input
                  type="email"
                  v-bind:class="[formControl]"
                  v-bind:style="emailStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.email"
                />
              </div>
              <div class="form-group">
                <label for="contact_no">Contact Number:</label>
                <input
                  type="number"
                  v-bind:class="[formControl]"
                  v-bind:style="contactStyle"
                  v-model="eData.contact_no"
                />
              </div>
              <div class="form-group">
                <label for="address">Address:</label>
                <input
                  type="text"
                  v-bind:class="[formControl]"
                  v-bind:style="addressStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.address"
                />
              </div>
              <div class="form-group">
                <label for="image">Photo:</label>
                <input
                  type="file"
                  accept="image/jpeg"
                  v-bind:class="[formControl]"
                  id="image"
                  @change="onFileChange"
                />
              </div>
              <button
                type="submit"
                data-dismiss="modal"
                class="btn btn-primary"
                @click="updateE"
              >Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end Model -->
  </div>
</template>
<script>
import router from "../router";

export default {
  name: "employee",
  data() {
    return {
      url: 'http://localhost:8080/leave/storage/',
      //disabled: 1,
      employeesData: [],
      designationData: [
        "",
        "Software Engineer",
        "Jr.Software Engineer",
        "HR Manager"
      ],
      eData: {
        id: "",
        name: "",
        email: "",
        contact_no: "",
        designation: "",
        address: "",
        image: "",
        imageExt: "",
        api_token: ""
        // imgName:'',
      },
      formControl: 'form-control',
      nameStyle: {
        borderColor: '',
      },
      emailStyle: {
        borderColor: '',
      },
      contactStyle: {
        borderColor: '',
      },
      designationStyle: {
        borderColor: '',
      },
      addressStyle: {
        borderColor: '',
      }
    };
  },
  mounted() {
    //this.checkToken();
    this.employeeList();
  },
  methods: {
    employeeList() {
      axios
        .get(
          "http://localhost:8080/leave/public/employee?api_token=" +
            localStorage.token
        )
        .then(response => ([this.employeesData = response.data.employees]))
        .catch(function(error) {
          console.log(error);
        });
    },
    createE() {
      this.eData.id = "";
      this.eData.name = "";
      this.eData.email = "";
      this.eData.contact_no = "";
      this.eData.designation = "";
      this.eData.address = "";
      this.eData.image = "";
      this.eData.imageExt = "";
      this.eData.api_token = "";
    },
    onFileChange(e) {
      const image = e.target.files[0];
      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = e => {
        this.eData.image = e.target.result;
        this.eData.imageExt = image.name;
      };
    },
    storeE() {
      // axios.post('http://localhost:8080/leave/public/add-employee?api_token='+localStorage.token, this.eData)
      if(this.eData.name == ''){
        alert('Please Enter Name')
        this.nameStyle.borderColor = 'red'
        return false
      }
      if(this.eData.designation == ''){
        alert('Please Enter Designation')
        this.designationStyle.borderColor = 'red'
        return false
      }
      if(this.eData.email == ''){
        alert('Please Enter Email')
        this.emailStyle.borderColor = 'red'
        return false
      }
      if(this.eData.contact_no == ''){
        alert('Please Enter Contact Number')
        this.contactStyle.borderColor = 'red'
        return false
      }
      if(this.eData.address == ''){
        alert('Please Enter Address')
        this.addressStyle.borderColor = 'red'
        return false
      }
      this.eData.api_token = localStorage.token
      const input = this.$refs.fileInput 
      input.type = 'text'
      input.type = 'file'
     
      axios
        .post("http://localhost:8080/leave/public/add-employee", this.eData)
        .then(response => {[
          this.employeeList(),
          this.eData = []
        ]
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    editE(data) {
      this.eData.id = data.id;
      this.eData.name = data.name;
      this.eData.email = data.email;
      this.eData.contact_no = data.contact_no;
      this.eData.designation = data.designation;
      this.eData.address = data.address;
    },
    updateE() {
      this.eData.api_token = localStorage.token;
      axios
        .post(
          "http://localhost:8080/leave/public/update-employee",
          this.eData
        )
        .then(response => {
          this.employeeList();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    deleteE(id) {
      //this.eData.api_token = localStorage.token;
      this.eData.id = id;
      axios
        .post(
          "http://localhost:8080/leave/public/delete-employee?api_token=" + localStorage.token + "&id="+id
        )
        .then(response => {
          this.employeeList();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    checkValidate(e) {
      if (
        this.eData.name != "" &&
        this.eData.name != "undefined" 
      ) {
        this.nameStyle.borderColor = ''
      }
      if (
        this.eData.email != "" &&
        this.eData.email != "undefined" 
      ) {
        this.emailStyle.borderColor = ''
      }
      if (
        this.eData.contact_no != "" &&
        this.eData.contact_no != "undefined"
      ) {
        this.contactStyle.borderColor = ''
      }
      if (
        this.eData.designation != "" &&
        this.eData.designation != "undefined"
      ) {
        this.designationStyle.borderColor = ''
      }
      if (
        this.eData.address != "" &&
        this.eData.address != "undefined"
      ) {
        this.addressStyle.borderColor = ''
      }
    },
    checkToken() {
      axios
        .get("http://localhost:8080/leave/public/get-token")
        .then(function(response) {
          if (response) {
            console.log(response.data.token[0]['api_token'])
            if(response.data.token[0]['api_token'] != localStorage.token || response.data.token[0]['api_token'] == 'undefined'){
              router.replace('/login')
            }
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>