<template>
    <div class="">
        <h3>Leave Info</h3>
        <button data-toggle="modal" data-target="#createModal" @click="getL">Get Leave</button>
        <br>
        <span>Avaliable: 10</span>
        <table class="table">
            <thead>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Leave Type</th>
                <th>Total</th>
                <th>Status</th>
            </thead>
            <tbody>
                <tr>
                    <td>01-01-2019</td>
                    <td>01-01-2019</td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>



        <!--Create Modal -->
    <div class="modal fade" id="createModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Get Leave</h4>
          </div>
          <div class="modal-body">
            <form v-on:submit.prevent="storeE" enctype="multipart/form-data">
              <div class="form-group">
                <label for="name">Name:</label>
                <input
                  type="text"
                  v-bind:class="[formControl]"
                  v-bind:style="nameStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="designation">Designation:</label>
                <select
                  v-bind:class="[formControl]"
                  v-bind:style="designationStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.designation"
                  required
                >
                  <option v-for="(name, index) in designationData" :value="index">{{name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="designation">Type of Leave:</label>
                <select
                  v-bind:class="[formControl]"
                  v-bind:style="designationStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.leaveType"
                  required
                >
                  <option v-for="(name, index) in leaveType" :value="index">{{name}}</option>
                </select>
              </div>
              
              <div class="form-group">
                <label for="contact_no">Contact Number:</label>
                <input
                  type="number"
                  v-bind:class="[formControl]"
                  v-bind:style="contactStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.contact_no"
                  required
                />
              </div>
              <div class="form-group col-md-5">
                <label for="contact_no">Date From:</label>
                <input
                  type="date"
                  v-bind:class="[formControl]"
                  v-bind:style="contactStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.dateFrom"
                  required
                />
              </div>
              <div class="form-group col-md-5">
                <label for="contact_no">Date To:</label>
                <input
                  type="date"
                  v-bind:class="[formControl]"
                  v-bind:style="contactStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.dateTo"
                  required
                />
              </div>
              <div class="form-group col-md-2">
                <label for="contact_no">Total:</label>
                <input
                  type="number"
                  v-bind:class="[formControl]"
                  v-bind:style="contactStyle"
                  v-model="eData.totalLeave"
                  v-on:click="totalDay"
                  readonly
                />
              </div>
              <div class="form-group">
                <label for="address">Staying Address During Leave:</label>
                <input
                  type="text"
                  v-bind:class="[formControl]"
                  v-bind:style="addressStyle"
                  v-on:keyup="checkValidate"
                  v-model="eData.address"
                  required
                />
              </div>
              
              <button
                type="submit"
                class="btn btn-primary"
                @click="storeE"
              >Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end Model -->
    </div>
</template>
<script>
export default {
    name:'leave',
    data(){
        return{
            designationData: [
                "",
                "Software Engineer",
                "Jr.Software Engineer",
                "HR Manager"
            ],
            leaveType: [
                "",
                "Casual",
                "Earned",
                "Medical",
                "Study",
            ],
            eData: {
                id: "",
                name: "",
                contact_no: "",
                designation: "",
                dateFrom: "",
                dateTo: "",
                address: "",
                totalLeave:"",
                api_token: ""
            },
            formControl: 'form-control',
            nameStyle: {
                borderColor: '',
            },
            emailStyle: {
                borderColor: '',
            },
            contactStyle: {
                borderColor: '',
            },
            designationStyle: {
                borderColor: '',
            },
            addressStyle: {
                borderColor: '',
            }
        }
    },
    mounted() {
      
    },
    methods: {
      createE() {
        id: "",
          this.name="",
          this.contact_no="",
          this.designation="",
          this.dateFrom="",
          this.dateTo="",
          this.address="",
          this.totalLeave="",
          this.api_token=""
      },
      totalDay(){
        this.eData.totalLeave = this.eData.dateTo.substring(8,10) - this.eData.dateFrom.substring(8,10) + 1
      },
      storeE(){
        console.log(this.eData)
      }
    }
    
}
</script>

