<template>
  <div class="container">
    <h3>Please Login</h3>

    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" v-bind:class="[formControl]" v-bind:style="emailStyle" v-on:keyup="checkValidate" v-model="loginData.email" required />
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" v-bind:style="passwordStyle" v-bind:class="[formControl]" v-on:keyup="checkValidate" v-model="loginData.password" required />
    </div>

    <button type="submit" class="btn btn-primary" @click="login">Submit</button>

    <br />
    <router-link to="/Register" exact>Register</router-link>
  </div>
</template>

<script>
import router from '../router'
export default {
  data() {
    return {
      loginData: {
        email: "",
        password: ""
      },
      formControl: 'form-control',
      emailStyle: {
        borderColor: '',
      },
      passwordStyle: {
        borderColor: '',
      }
    };
  },
  mounted() {
    //localStorage.token = ''
  },
  methods: {
    login() {
      if(this.loginData.email == ''){
        alert('Please Enter Email')
        this.emailStyle.borderColor = 'red'
        return false
      }
      if(this.loginData.password == ''){
        alert('Please Enter Password')
        this.passwordStyle.borderColor = 'red'
        return false
      }else{
        localStorage.email = this.loginData.email
        axios
        .post("http://localhost:8080/leave/public/login", {
            email: this.loginData.email,
            password: this.loginData.password
        })
        .then(function(response) {
          if (response) {
            localStorage.token = response.data.user.api_token
            router.replace('/home')
          }
        })
        .catch(function(error) {
          // handle error
          console.log(error);
          alert("You are Unauthorized.");
        })
        .finally(function() {
          // always executed
        });
      }
    },

    checkValidate(e) {
      if (
        this.loginData.email != "" &&
        this.loginData.email != "undefined"
      ) {
        this.emailStyle.borderColor = '';
      }
      if(
        this.loginData.password != "" &&
        this.loginData.password != "undefined"){
        this.passwordStyle.borderColor = '';
      }
    },
  }
};
</script>