<template>
  <div class="container">
    <h3>Please Join</h3>

    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        v-bind:class="[formControl]"
        v-bind:style="nameStyle"
        v-on:keyup="checkValidate"
        v-model="registerData.name"
        required
      />
    </div>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input
        type="email"
        v-bind:class="[formControl]"
        v-bind:style="emailStyle"
        v-on:keyup="checkValidate"
        v-model="registerData.email"
        required
      />
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input
        type="password"
        v-bind:class="[formControl]"
        v-bind:style="passwordStyle"
        v-on:keyup="checkValidate"
        v-model="registerData.password"
        required
      />
    </div>
    <div class="form-group">
      <label for="pwd">Confirm Password:</label>
      <input
        type="password"
        v-bind:class="[formControl]"
        v-bind:style="cPasswordStyle"
        v-on:keyup="checkValidate"
        v-model="registerData.cPassword"
        required
      />
    </div>

    <button class="btn btn-primary" @click="register">Submit</button>
    <br />
    <router-link to="/login" exact>Login</router-link>
  </div>
</template>

<script>
import router from "../router";
export default {
  data() {
    return {
      registerData: {
        name: "",
        email: "",
        password: "",
        cPassword: "",
        token: ""
      },
      formControl: "form-control",
      nameStyle: {
        borderColor: ""
      },
      emailStyle: {
        borderColor: ""
      },
      passwordStyle: {
        borderColor: ""
      },
      cPasswordStyle: {
        borderColor: ""
      }
    };
  },
  methods: {
    register() {
      if(this.registerData.name == ''){
        alert('Please Enter Name')
        this.nameStyle.borderColor = 'red'
        return false
      }
      if(this.registerData.email == ''){
        alert('Please Enter Email')
        this.emailStyle.borderColor = 'red'
        return false
      }
      if(this.registerData.password == ''){
        alert('Please Enter Password')
        this.passwordStyle.borderColor = 'red'
        return false
      }
      if(this.registerData.cPassword == ''){
        alert('Please Enter Confirm Password')
        this.cPasswordStyle.borderColor = 'red'
        return false
      }
      if (this.registerData.password != this.registerData.cPassword) {
        this.registerData.password = "";
        this.registerData.cPassword = "";
        alert("Password Not Match.");
        return false;
      }
        axios
          .post(
            "http://localhost:8080/leave/public/register",
            this.registerData
          )
          .then(function(response) {
            if (response) {
              localStorage.token = response.data.user.api_token;
              router.replace("/home");
            }
          })
          .catch(function(error) {
            console.log(error);
          });
      
    },

    checkValidate(e) {
      if (this.registerData.name != "" && this.registerData.name != "undefined") {
        this.nameStyle.borderColor = "";
      }
      if (this.registerData.email != "" && this.registerData.email != "undefined") {
        this.emailStyle.borderColor = "";
      }
      if (
        this.registerData.password != "" &&
        this.registerData.password != "undefined"
      ) {
        this.passwordStyle.borderColor = "";
      }
       if (this.registerData.cPassword != "" && this.registerData.cPassword != "undefined") {
        this.cPasswordStyle.borderColor = "";
      }
    }
  }
};
</script>